.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feature-rectangle {
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  width: 264px;
  height: 112px;
}

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
}

.feature-card-text {
  font-weight: 500;
  text-align: left;
}

/* Планшет: 2 колонки */
@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-list-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-title,
  .feature-card-text {
    text-align: left;
  }
}

/* Десктоп: 4 колонки з іконками */
@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
  }

  .features-list-item {
    width: 264px;
  }

  .feature-rectangle {
    display: flex;
  }

  .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .feature-card-text {
    font-weight: 400;
  }
}
