.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer .web {
  color: #4d5ae5;
}

.footer .footer-text {
  color: #f4f4fd;
}

.footer .footer-information {
  display: flex;
  flex-direction: column;
  max-width: 264px;
  gap: 16px;
  margin-right: 120px;
}

.footer .container {
  display: flex;
  flex-direction: row;
}

.footer .social-media {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer .social-text {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.footer .footer-social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .social-ball:hover,
.footer .social-ball:focus {
  background-color: #31d0aa;
}

.footer .footer-subscribe-title {
  font-weight: 500;
  color: #fff;
}

.container.footer-subscribe {
  margin-left: auto;
  flex-direction: column;
  gap: 16px;
}

.footer-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  background-color: #2e2f42;
  color: #fff;
  transition: border-color 250ms ease-in-out;
}

.footer-input:focus {
  border-color: #31d0aa;
  outline: none;
}

.footer-input::placeholder {
  color: #fff;
}

.footer-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #4d5ae5;
  border: 0;
  border-radius: 4px;
  width: 165px;
  height: 40px;
  cursor: pointer;
  padding: 8px 24px;
  max-width: 165px;
  transition: background-color 250ms ease-in-out;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #31d0aa;
}
