.portfolio {
  padding: 120px 0;
}

.portfolio .portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio .portfolio-small-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.portfolio .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 48px 24px;
}

.portfolio .portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  gap: 8px;
}

.portfolio .portfolio-photo {
  display: block;
}

.portfolio .portfolio-card {
  transition: box-shadow 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.portfolio .portfolio-card:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio .portfolio-card:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio .portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  padding: 40px 32px;
}

.portfolio .portfolio-media {
  max-height: 300px;
  max-width: 360px;
  position: relative;
  overflow: hidden;
}
